*
{
    margin: 0px;
    padding: 0px;
}

.html
{
    height: 100%;
    background-color: #333;
}

.page
{
    display: flex;
    flex-flow: column nowrap;
    height: inherit;
}

.header
{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.3em;
    /* width: -webkit-fill-available; */

    background-color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.5));

    color: white;
    font-size: 1.75em;
}

.body
{
    display: flex;
    flex-flow: column nowrap;

    margin: auto;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    padding: 1em;
}

.menu
{
    display: flex;
    flex-flow: column nowrap;
}

.btn
{
    padding: 0.5em;
    font-weight: bold;

    margin: 0.2em;

    color: #333;
    background-color: #fff;

    font-size: 1.5em;
    border-radius: 0.3em;
    text-align: center;
    text-decoration: none;

    border: 1px solid #fff;
}

.btn:hover
{
    background-color: #DBDBDB;
}

.btn:active
{
    background-color: #212020;
    color: #F1F1F1;
}

.alert
{
    padding: 0.7em;
    margin-bottom: 1em;
    border-radius: 4px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.alert-warn
{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-success
{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.form
{
    display: flex;
    flex-flow: column nowrap;
    /* align-items: center; */
}

.form *
{
    margin-left: auto;
    margin-right: auto;
}

.form label
{
    color: white;
}

.input
{
    border: 1px solid #ccc;
    border-radius: 4px;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.3em;
    width: -webkit-fill-available;

    background-color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(255, 255, 255, 0.5));

    color: black;
    font-size: 1.2em;
}
